.list-item {
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  border-top: 20px blue;
  background-color: rgb(24, 24, 24);
  color: white;
}

.required {
  color: #B00020;
}
