<div class="list-item">
  <div>
    <span *ngIf="orderable" class="prefix">{{index | indexToWord}}:</span>
    <span class="title">{{game.title}}</span>
  </div>
  <div class="controls">
    <i *ngIf="orderable" style="font-size: 1.2em" [ngClass]="index === 0 ? 'disabled' : ''" class="pi pi-chevron-up" (click)="moveUp.emit(index)"></i>
    <i *ngIf="orderable" style="font-size: 1.2em" [ngClass]="index === length - 1 ? 'disabled' : ''" class="pi pi-chevron-down" (click)="moveDown.emit(index)"></i>
    <i class="pi pi-minus" style="font-size: 1.2em" (click)="delete.emit(index)"></i>
  </div>
</div>
