.disabled {
  color: #3A3B3C;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.pages {
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

i:hover:not(.disabled) {
  cursor: pointer;
  color: #673ab7;
  text-shadow: 0 0 5px #673ab7;
}

.controls div {
  display: flex;
}
