@import "@/src/colors";

.control {
  position: relative;
  border: 1px solid $border;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 4px 4px 0;
  font-size: inherit;
  min-width: 65px;
  height: 100%;
  &:not(.disabled) {
    cursor: pointer;
  }
  &:focus:not(.disabled) {
    outline: $accent 2px solid;
  }
}

.disabled {
  color: $disabled;
  border-color: $disabled;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.container {
  position: relative;
}