.controls {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 15px;
}

.tabsExport {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.yearsDropdown {
  grid-row-start: 1;
  grid-column-start: 2;
}