.controls {
  display: grid;
  row-gap: 15px;
}

.tabsExport {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.exportButton {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-content: right;
  margin-right: -10px;
}

.dropdown {
  border-radius: 0;
  box-shadow: none;
}