<div class="list-item" *ngIf="game">
  <div>
    <span *ngIf="orderable" class="prefix">{{index | indexToWord}}:</span>
    <span class="title">{{game.title}}</span>
  </div>
  <div class="controls" *ngIf="!readonly">
    <i *ngIf="orderable" [ngClass]="index === 0 ? 'disabled' : ''" class="pi pi-chevron-up" (click)="moveUp.emit(index)"></i>
    <i *ngIf="orderable" [ngClass]="index === length - 1 ? 'disabled' : ''" class="pi pi-chevron-down" (click)="moveDown.emit(index)"></i>
    <i class="pi pi-minus" (click)="delete.emit(index)"></i>
  </div>
</div>
