body {
  margin: 8px;
  font-family: Roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/pattern.png');

  font-size: 1.3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-button-label {
  font-size: 1.2em;
}

#goty-body .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #673ab7;
  background: rgba(103, 58, 183, 0.16);
}

#goty-body .p-dropdown:not(.p-disabled).p-focus {
  border-color: #673ab7;
}

#goty-body .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #673ab7, inset 0 0 0 1px #673ab7,
    inset 0 0 0 1px #673ab7, inset 0 0 0 1px #673ab7;
}
