.card {
  background-color: rgb(24, 24, 24);
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
  @media only screen and (max-width: 767px) {
    padding: 5px;
  }

  @media only screen and (min-width: 768px) {
    padding: 15px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.required {
  color: #B00020;
}

.titles {
  display: flex;
  justify-content: space-between;
}
