.text-container {
  position: relative;
  max-width: 100%;
}

.input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--contentBackground);
  color: var(--text);
  border: 2px solid var(--border);
  box-sizing: border-box;
  font-size: 0.9em;

  &:focus {
    outline: none;
    border-color: var(--accent);
  }

  &:hover:not(:focus):not(:disabled) {
    border-color: var(--borderHover);
  }

  ::placeholder {
    color: var(--placeholder);
  }

  &:disabled {
    color: var(--placeholder)
  }

}

.loading {
  position: absolute;
  right: 10px;
  top: calc(50% - 12px);
}