$background: #181818;
$accent: #6137ab;
$accentDark: #3d1c78;
$required: #b00020;
$contentBackground: #1e1e1e;
$contentBackgroundLight: #282828;
$placeholder: #666666;
$border: #575757;
$borderHover: #a5a5a5;
$text: white;
$disabled: #3d3d3d;
$gold: #a38b0a;
$silver: #6c7a86;
$bronze: #915c1d;
$eliminated: #2e2e2e;