body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  background: rgb(26,26,26);
  background: linear-gradient(142deg, rgba(26,26,26,1) 0%, rgba(23,23,23,1) 50%, rgba(26,26,26,1) 100%);

  font-size: 1.3em;
}
