body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--backgroundGradient);
  @media only screen and (max-width: 767px) {
    font-size: 1.0em;
  }

  @media only screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

:root {
  --backgroundGradient: linear-gradient(142deg, rgba(32,32,32,1) 0%, rgba(28,28,28,1) 50%, rgba(32,32,32,1) 100%);
  --cardBackground: #181818;
  --accent: #6137ab;
  --buttonHover: #3d1c78;
  --required: #b00020;
  --contentBackground: #1e1e1e;
  --placeholder: #666666;
  --border: #575757;
  --borderHover: #a5a5a5;
  --text: white;
  --disabled: #3d3d3d;
  --gold: #a38b0a;
  --silver: #6c7a86;
  --bronze: #915c1d;
  --eliminated: #2e2e2e;
  --textOnAccent: var(--text);
  --dropdownHover: #676767;
}

[data-theme="light"] {
  --backgroundGradient: linear-gradient(142deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 50%, rgb(255, 255, 255) 100%);
  --cardBackground: #ffffff;
  --accent: #4c5eff;
  --buttonHover: #1d21f5;
  --required: #da0328;
  --contentBackground: #eaeaea;
  --placeholder: #666666;
  --border: #afafaf;
  --borderHover: #606060;
  --text: black;
  --disabled: #b6b6b6;
  --gold: #d7b80d;
  --silver: #C0C0C0;
  --bronze: #915c1d;
  --eliminated: #c0c0c0;
  --textOnAccent: white;
  --dropdownHover: #c4c4c4;
}