body {
  background-image: url("assets/pattern.gif");
  font-family: Roboto, serif;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
}

ul {
  list-style-type: circle;
}

a:visited {
  color: rgb(103, 58, 183);
}

a:link {
  color: #6495ED;
}

.p-button-label {
  font-size: 1.2em;
}

div .p-progress-spinner {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

app-results {
  .p-tabview .p-tabview-nav {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
  }

  .p-tabview .p-tabview-panels {
    padding: 0;
    margin-top: 10px;
  }

  .controls {
    font-size: 1.3em;
  }

  .controls .pi {
    font-size: 1.3em;
  }

  app-results-table .p-datatable .p-datatable-tbody {
    tr.ranked-first {
      background-color: #FFD70099;
      color: black;
    }

    tr.ranked-second {
      background-color: #6c7a86;
    }

    tr.ranked-third {
      background-color: #915c1d;
    }

    tr.ranked-eliminated {
      background-color: #5555555e;
      color: gray;
    }
  }
}

