/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/pattern.gif");
  font-family: Roboto, serif;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
}

ul {
  list-style-type: circle;
}

a:visited {
  color: rgb(103, 58, 183);
}

a:link {
  color: #6495ED;
}

.p-button-label {
  font-size: 1.2em;
}
