/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/pattern.gif");
  font-weight: 350;
}

ul {
  list-style-type: circle;
}

a:visited {
  color: rgb(103, 58, 183);
}

a:link {
  color: #6495ED;
}
