.menu {
  background-color: var(--contentBackground);
  border: 1px solid var(--border);
  box-shadow: rgba(0, 0, 0, 0.16) 0 4px 4px 0;
  box-sizing: border-box;
  margin-top: 2px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  font-size: 1em;
}

.no-results {
  box-sizing: border-box;
  color: var(--text);
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.options {
  box-sizing: border-box;
  background-color: var(--contentBackground);
  cursor: pointer;
  display: block;
  padding: 10px 10px;
  transition: ease-in-out 400ms;

  &:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:hover {
    background: var(--dropdownHover)
  }
}

.options.is-selected{
  background-color: var(--accent);
  color: var(--textOnAccent);

  &:hover {
    background: var(--dropdownHover);
    color: var(--text)
  }
}