.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: var(--accent);
  font-weight: bold;
}

.recovery-link {
  color: var(--text);

  &:hover {
    color: var(--accent);
  }
}