@import "@/src/colors";

.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: $accent;
  font-weight: bold;
}

.recovery-link {
  color: $text;

  &:hover {
    color: $accent;
  }
}