<ng-container *ngIf="gotyConcluded; else submissions">
  <app-card>
    <h2>Game of the Year {{year}} has concluded</h2>
    <p>Thank you to all who participated</p>
  </app-card>
  <app-card title="Results" titleFontSize="2em">
    <app-results-summary></app-results-summary>
  </app-card>
</ng-container>
<ng-template #submissions>
  <app-card>
    <div class="button-set">
      <div>
        <p-button [disabled]="hasSubmission" [style]="{'width': '100%'}" label="New Submission" (click)="route()"></p-button>
      </div>
      <div>
        <p-button [disabled]="!hasSubmission" [style]="{'width': '100%'}" label="Edit Submission" (click)="route()"></p-button>
      </div>
    </div>
  </app-card>
</ng-template>
