@import "@/src/colors";

.table {
  background: $contentBackground;
}

.header,.body {
  display: grid;
  grid-auto-rows: 50px;
}

.cell {
  border-bottom: 1px solid $border;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paginator-container {
  display: grid;
  grid-auto-flow: column;
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.table-paginator {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.no-results {
  margin-top: 10px;
  margin-left: 10px;
}
