@import "@/src/colors";

.card {
  background-color: $background;
  margin-bottom: 10px;
  color: $text;
  border-radius: 10px;
  @media only screen and (max-width: 767px) {
    padding: 5px;
  }

  @media only screen and (min-width: 768px) {
    padding: 15px;
  }
}

.border {
  border: 1px solid $border
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.required {
  color: $required
}