.container {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.combo-box {
  position: relative;
}

.dropdown-button {
  background: var(--accent);
  color: var(--textOnAccent);
  border-radius: 0;
}